.bg-1 {
    background-color: mediumpurple;
    color: #ffffff;
}

.bg-2 {
    background-color: deepskyblue;
    color: #ffffff;
}

.bg-3 {
    background-color: red;
    color: #ffffff;
}

.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
}

