
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid bg-1 text-center">
    <h2>Daniel</h2>

    <img src="../daniel.jpg"/ alt="image of me" class="img-circle img-responsive" style="display:inline">

    <h2>Lundgren</h2>
</div>

<div class="container-fluid bg-2 text-center">
    <h2>About me</h2>
</div>

<div class="container-fluid bg-3 text-center">
    <h2>Contact me</h2>
</div>